    {% extends 'master.html'%}
<!--==========================================================================-->
    {% block head_title %}
        {{title}} / {{block.super}}
    {% endblock head_title %}
<!--=======================================================================-->


<!--=======================================================================-->
    {% block content%}

<div class="container">
    <h2 >Add Information List</h2><hr>
    <form action="/saveInfo/" method="post">
                {%  csrf_token %}
            <label class="form-group" for="title">Title: </label>
            <input class="form-control" type="text" name="title" placeholder="Information Title"><br>

            <label class="form-group" for="price">Price: </label>
            <input class="form-control" type="text" name="price" placeholder="Int value here"><br>

            <label class="form-group" for="author">Author: </label>
            <input class="form-control" type="text" name="author"><br>

            <input class="btn btn-success" type="submit" value="Add Inforamtion">

        </form>
  <a class="btn btn-dark" href="/"> << Back Home Page</a>
    {% endblock %}