    {% extends 'master.html'%}
    {% block content%}

<div class="container">
  <h2>{{content}}</h2>


  <table class="table table-striped">
  <tr>
        <th>Id</th>
		<td style="color:red">{{instence.id}}</td>
      </tr>
      <tr>
        <th>Titel</th>
		<td>{{instence.title}}</td>
      </tr>
      <tr>
        <th>Content</th>
        <td>{{instence.price}}</td>
      </tr>
      <tr>
        <th>CreatedAt</th>
        <td>{{instence.author}}</td>
      </tr>
    </tbody>
  </table>

</div>
     <a class="btn btn-info" href="/"> << Back Home Page</a>
    {% endblock %}