    {% extends 'master.html'%}
    {% block content%}



   <form action="/updateInfo/{{ recEditInfo.id }}">

        {% csrf_token %}

        <label class="form-group" >Title: </label>
        <input class="form-control" type="text" name="title" value="{{ recEditInfo.title }}" >

        <label class="form-group" >Price: </label>
        <input class="form-control" type="text" name="price" value="{{ recEditInfo.price }}" >

        <label class="form-group" >Author: </label>
        <input class="form-control" type="text" name="author" value="{{ recEditInfo.author }}">
        <br>

        <input class="btn btn-primary" type="submit" value="Update">

    </form>
  <a class="btn btn-dark" href="/"> << Back Home Page</a>
    {% endblock %}