    {% extends 'master.html'%}
    {% block content%}

 {% include "message.html" %}

  <table class="table table-striped">
    <thead>
      <tr>
        <th>title</th>
        <th>price</th>
        <th>author</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
	{% for obj in querySet %}
      <tr>
       <!--   <td><a href="/crud/details/{{obj.id}}">{{obj.titel}}</a></td>-->
	   <td><a href="{{obj.get_absulate_url}}">{{obj.title}}</a></td>
        <td>{{obj.price}}</td>
		<td>{{obj.author}}</td>
        <td>
            <a class="btn btn-info" href="/editInfo/{{obj.id}}"> Edit</a>
            <a class="btn btn-danger" href="/deleteInfo/{{obj.id}}"> Delete</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
   <a class="btn btn-primary btn-lg " href="/addInfo"> Click For Add Information</a>
</div>
    {% endblock %}