
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %} python  {% endblock head_title %} </title>
    <!--link dite hole-->
     <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

    <style>
.note {
  background-color: tomato;
  color: white;
  padding: 10px;
  text-align:center;
}
.size{
  margin-top:250px
}
</style>
</head>

<body>
<div class="container">

 <h2 class="note"> Python Crud Operation </h2>
    {% block content%}

    {% endblock %}

 <h3 class="note size"> @Rumman Islam Nur </h3>

</div>
</body>
</html>

