    {% extends 'master.html'%}
    {% block content%}

<div class="container">
  <h2>{{content}}</h2>


  <table class="table table-striped">
  <tr>
        <th>Id</th>
		<td style="color:red">{{instence.id}}</td>
      </tr>
      <tr>
        <th>Titel</th>
		<td>{{instence.title}}</td>
      </tr>
      <tr>
        <th>Content</th>
        <td>{{instence.price}}</td>
      </tr>
      <tr>
        <th>Author</th>
        <td>{{instence.author}}</td>
      </tr>
       <tr>
        <th>Image</th>
           {% if instence.image %}
        <td><img src="{{instence.image.url}}"  class="img-responsive" alt="Cinque Terre" width="304" height="236"></td>
          {% endif %}
      </tr>
    </tbody>
  </table>

</div>
     <a class="btn btn-info" href="/"> << Back Home Page</a>
    {% endblock %}