    {% extends 'master.html'%}
    {% block content%}

 {% include "message.html" %}

  <table class="table table-striped">
    <thead>
      <tr>
        <th>title</th>
        <th>price</th>
        <th>author</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
	{% for obj in querySet %}
      <tr>
       <!--   <td><a href="/crud/details/{{obj.id}}">{{obj.titel}}</a></td>-->
        <!--readmore option   -->
          <!--<a href="{{obj.get_absulate_url}}">{{obj.title | linebreaks | truncatechars:50}} </a>-->
        <td>{{obj.title | linebreaks | truncatechars:50}}<a href="{{obj.get_absulate_url}}" style="color:red">Read More</a></td>
        <td>{{obj.price}}</td>
		<td>{{obj.author}}</td>
        <td>
            <a class="btn btn-info" href="/editInfo/{{obj.id}}"> Edit</a>
            <a class="btn btn-danger" href="/deleteInfo/{{obj.id}}"> Delete</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>



    <!--pagination-->

<div class="pagination">
    <span class="step-links">
        {% if querySet.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ querySet.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ querySet.number }} of {{ querySet.paginator.num_pages }}.
        </span>

        {% if querySet.has_next %}
            <a href="?page={{ querySet.next_page_number }}">next</a>
            <a href="?page={{ querySet.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

    <hr/>
 <a class="btn btn-primary btn-lg " href="/addInfo"> Click For Add Information</a>
    {% endblock %}